@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf);
}
@font-face {
    font-family: Jetbrains;
    src: url(fonts/Inter.ttf);
}
@font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans.ttf);
}
*{
    font-family: Inter, NotoSans;
}