@import url(color.css);
@import url(font.css);
@import url(nav.css);
body {
    width: 100vw;
    height: 100vh;
    background-color: #384454;
    margin: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar
{
    width:10px;
    background-color:#F5F5F5;
}
/*定义滚动条轨道：内阴影+圆角*/
::-webkit-scrollbar-track
{
    background-color:#292828;
}
/*定义滑块：内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:#555;
}
.title {
    padding: 26vh 18vw 26vh 7vh;
    background-size: 100%, cover;
    background-repeat: no-repeat; 
    background-position: right;
    background: #526680;
    min-width: 120vw;
}
h2{
    color: white;
}

.tth1 {
    color: #e4e0e0;
    font-size: 7vw;
    white-space: auto;
    font-family: Inter;
    font-weight: 600;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.introduction {
    color: #e4e0e0;
    font-size: 4vw;
    font-family: Inter;
    font-weight: 600;
    text-align: left;
    margin-left: 20vw;
    min-width: 120vw;
}
h3 {
    color: #d1cfcf;
    font-size: 1vw;
    font-family: Inter;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content {
    align-items: center;
    padding: 20px;
    background-color: #384454 ;
    align-self: center;
}

.article {
    /*background-color: #3d3d3d;*/
    border: 3px solid #869cb6;
    border-radius: 4px;
    padding: 20px;
    max-width: 55vw;
    margin: auto;
    min-height: 20vh;
    margin-top: 5vh;
    transition: background-color 0.3s, scale 0.3s;
}
.article:hover{
    background-color: #6e8cb3;
    scale: 1.02;
}

.cover {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.artc {
    color: #fffdfd;
    font-size: 2.4em;
    margin-top: 10px;
}
.abstract {
    color: #fffdfd;
    font-size: 1.2em;
    margin-top: 10px;
    white-space: auto;
    font-weight: 100;
}
footer{
    text-align: center;
    padding: 5vh;
    background-color: #384454;
    color: white;
}
h1 {
    margin: 0;
}
.contents{
    margin-left: 15vw;
}
.myself {
    padding: 15vh 18vw 26vh 7vh;
    background: #313c4b;
    background-size: 100%, cover;
    background-repeat: no-repeat; 
    background-position: right;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.msh1 {
    color: #e4e0e0;
    font-size: 4vw;
    white-space: auto;
    font-family: Inter;
    font-weight: 600;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
p{
    text-align: left;
}
a{
    color: white;
}
h1{
    color: white;
}
@media screen and (max-width: 768px) {
    .msh1 {
        font-size: 10vw;
    }
    .tth1 {
        font-size: 14vw;
    }
    h3 {
        color: #d1cfcf;
        font-size: 3vw;
        font-family: Inter;
        font-weight: 400;
        text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .myself{
        max-width: 100vw;
    }
    .introduction{
        max-width: 100vw;
    }
    .content{
        max-width: 100vw;
    }
    .footer{
        max-width: 100vw;
    }
    .title {
        max-width: 100vw;
    }
}