ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 0vw;
    backdrop-filter: blur(15px);
    height: 100%;
    position: fixed; 
    overflow: auto;
    padding-top: 14vh;
    transition: width 0.5s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
ul.display{
    width: 15%;
    transition: 0.2s;
}
ul.display:hover {
    background-color: #27303c;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
li a {
    display: block;
    color: #d8d6d6;
    padding: 30px 27px;
    text-decoration: none;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
}
 
li a:hover {
    background-color: #384454;
    color: white;
}

.navigatebtn{
    border: 0;
    outline: none;
    position: fixed;
    left: 4vh;
    top: 4vh;
    z-index: 9999;
    border-radius: 50%;
    background: #384454;
    width: 70px;
    height: 70px;
    background-size: cover;
    transition: background 0.1s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media screen and (max-width: 768px) {
    ul.display {
        width: 100%;
    }
}
